h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 30px;
  text-align: start;
  font-weight: medium;
  }
  h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 100px;
    text-align: start;
    font-weight: medium;
    }
    h3 {
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: 30px;
      text-align: center;
      font-weight: medium;
      }
  body {
    background-image: url("aboutme.jpg");
    background: linear-gradient(to bottom, #6e00bd, #244d94);
    color: #ffffff;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top 35% center;
    width: full;
    height: full;
  }
  p1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    text-align: start;  
  }
  p2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 26px;
    text-align: start;  
  }
  p3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 90px;
    text-align: start;
    font-weight: bold;
    }
  
    .topnav {
      display: flex;
      justify-content: center;
      background-color: rgba(0, 0, 0, 0.8);
      padding: 10px;
  }
  .topnav a {
      color: white;
      text-decoration: none;
      padding: 12px 22px;
      margin: 0 5px;
      border-radius: 5px;
      transition: background-color 0.3s ease;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: large;
  }
  .topnav a:hover {
      background-color: #ffffff;
      color: rgb(0, 0, 0);
  }
  
img {
    border: 4px solid rgb(75, 0, 130);
    border-radius: 15px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  margin-top: 30px;
  width: 40%;
  height: 50%;
  border: 5px solid #244d94;
  border-radius: 10px;
}
.text-box {
  text-align: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  margin: 20px auto;
  width: 80%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}
.text-box1 {
  text-align: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  margin: 20px auto;
  width: 80%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}