h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 30px;
  text-align: start;
  font-weight: medium;
  }
  h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 100px;
    text-align: start;
    font-weight: medium;
    }
  body {
    background-image: url("aboutme.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top 35% center;
    width: full;
    height: full;
  }
  p1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 26px;
    text-align: start;  
  }
  p2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 26px;
    text-align: start;  
  }
  p3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 90px;
    text-align: start;
    font-weight: bold;
    }
  
.topnav {
    background-color: #333333;
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 19px 21px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color:  rgb(75, 0, 130);
  }
  
img {
    border: 4px solid rgb(75, 0, 130);
    border-radius: 15px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  margin-top: 30px;
  width: 40%;
  height: 50%;
}
.text-box {
  background-color:  rgb(75, 0, 130);
  border: 4px solid rgb(75, 0, 130);
  border-radius: 15px;
  padding: 20px;
  margin: 20px;
  font-family: sans-serif;
  font-size: 20px;
  text-align: start;
}
.text-box1 {
  background-color: rgba(0, 60, 255, 0.886);
  border: 4px solid rgb(75, 0, 130);
  border-radius: 15px;
  padding: 20px;
  margin: 20px;
  font-family: sans-serif;
  font-size: 20px;
  text-align: start;
  margin-top: 200px;
}